@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #FFFFFF;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
  display: flex;
  width: 1200 px;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  width: 310px;
  margin-left: auto;
}
.navigation-list .navigation-user {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
 display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  color: #000000;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;

}

.navigation-link-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 160px;
  text-decoration: none;
  background: #756157;
  text-transform: uppercase;
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  align-items: center;
}

/* main */

.main-index {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/index/main/index-mountans.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.body {
  height: 100%;
}

.logo-main {
  margin: 51px 371px 82px;
}

.main-index-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-index-textsmall {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Главная - ПРЕИМУЩЕСТВА */

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%/3;
  min-height: 385px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-white {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-description {
  color: #333333;
}

/* Главная - СЕРВИС */

.service-list {
  display: flex;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.service-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

.service-item-food {
  background: #FFFFFF;
}

.offer-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.mailing-photo {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/index/main/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailingbig {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.mailingsmall {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.mailing-form {
  text-align: center;
}

.button.mailing-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: 0;
}

/* FOOTER */

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-right: 235px;
}

.footer-contacts {
  width: 331px;
  margin-right: 235px;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
}

/**catalog**/

.main-inner-backphoto {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/catalog/mountans-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link-home {
  background: url("../images/catalog/home-page.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-hotel {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

/* КАТАЛОГ СПИСОК ТОВАРОВ С ФИЛЬТРАМИ */

.catalog-filter {
  display: flex;
}

.catalog-products-first {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.catalog-products-second {
  display: flex;
  width: 340px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control-span {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-catalog {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-catalog-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
}

.button-catalog-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-weight: 400;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.product-card-favorit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}


/* Пагинация */

.pagination {
  display: flex;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
}


/* Рассылка в каталоге */

.mailing-catalog {
  text-align: center;
}

.mailingbig-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
