@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  margin-left: auto;
}

.navigation-list .navigation-user {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  color: #000000;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;

}

.buttons {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-button {

  width: 160px;
  background: #756157;

}


.notification-badge {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  align-items: center;
}

/* main */

.hero {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/index/main/index-mountans.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 51px 0 82px;
  text-align: center;
}

.main-index-text-first {
  padding-top: 70px;
  padding-bottom: 90px;
}

.offer-div {
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-index-text.text-big {
  margin-bottom: 20px;
}

.main-index-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 25px;
  max-width: 620px;
}

.main-index-textsmall {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  max-width: 592px;
}

/* Главная - ПРЕИМУЩЕСТВА */

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 385px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-item-flex {
  padding: 113px 85px 112px;
  align-items: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  max-width: 175px;
}

.advantages-title-white {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.advantages-description-whitesmall {
  margin: 0;
}

.advantages-photo-city-img,
.advantages-photo-rock {
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-child(2n) {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-dark {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;

}

.advantages-description {
  color: #333333;
  margin: 0;
}

/* Главная - СЕРВИС */

.main-index-text-service {
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-list {
  display: flex;
  background: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
  list-style: none;

}

.service-item {
  width: 400px;
  min-height: 385px;
  align-items: center;
}

.service-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.service-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-description {
  margin: 0;
  text-align: center;
}

.service-item-food {
  background: #FFFFFF;
}

.offer-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 54px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
}

.mailing-photo {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/index/main/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.mailingbig {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.mailingsmall {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 54px;
  max-width: 475px;
}

.mailing-form {
  text-align: center;
}

.button.mailing-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: 0;
}

/* FOOTER */

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  width: 142px;
  margin-right: 235px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;

}

.footer-contacts {
  width: 331px;
  margin-right: 235px;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  width: 115px;
}

/**catalog**/


.main-inner-backphoto {
  color: #333333;
  background: #FFFFFF;
  background-image: url("../images/catalog/mountans-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px 70px;
}

.main-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link-home {
  background: url("../images/catalog/home-page.svg");
  background-repeat: no-repeat;
  margin-right: 28px;
}

.breadcrumbs-link-hotel {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}

/* КАТАЛОГ СПИСОК ТОВАРОВ С ФИЛЬТРАМИ */

.catalog-products {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-products-first {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control-span {
  line-height: 23px;
  color: #FFFFFF;
}

.button-catalog {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-catalog-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
}

.button-catalog-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-result-view {
  display: flex;
  margin: 50px 70px 40px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 192px;
}

.select-control-view {
  display: flex;
}

.select-control {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-right: 70px;

}

.button-card,
.button-main-list,
.button-list {
  height: 48px;
  width: 48px;
}

.catalog-products-second {
  width: 1060px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  gap: 20px;
}

.product-card {

}

.product-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-weight: 400;
}



.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.product-card-favorit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 140px;
  height: 37px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
}


/* Пагинация */

.pagination-container {
  display: flex;
  margin: 0 70px 60px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-width: 60px;
  height: 60px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
}


/* Рассылка в каталоге */

.mailing-catalog {
  text-align: center;
}

.mailingbig-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
