@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #FFFFFF;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;

}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  align-items: center;
}
